body {
    font-family: 'Lexend Mega', sans-serif;
    color: white;
}

/* background */
body::after {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background-image: linear-gradient(
    120deg, 
    rgba(0,0,255, 0.8),
    rgba(255,0,0, 0.7)
    ), 
url(../images/ecommerce-survey-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

/* main heading */
h1 {
    font-size: 5vmax;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    letter-spacing: .5px;
}

/* text formatting */
p, label {
    font-size: 18px;
    color: white;
    text-align: center;
    letter-spacing: 0px;
    line-height: 28px;
}

/* legend for fieldset */
legend {
    font-size: 18px;
    color: white;
    letter-spacing: 0.px;
    line-height: 28px;
    max-width: 80%;
}

/* description box */
#description-box {
    max-width: 800px;
    margin: 0px auto 50px auto;
}

/* Placeholder styling */
#dropdown {
    color: gray;
    width: 100%;
    height: 3.3rem;
    font-size: 18px;
}

/* Placeholder size */
textarea, input {
    font-size: 18px;
    outline: none;
}


/* Form area styling */
#main-form {
width: 47rem;
margin: 30px auto 30px auto;
padding: 40px;
background-color: rgba(0,0,0,.7);
opacity: 1;
border-radius: 6px;
}


/* Form cell formatting */
.form-group {
margin: 40px 0px 10px 0px;
}


/* input field styling */
.input-field, #dropdown {
    margin: 7px 0px 0px 0px;
    border: 1px solid #000;
    border-radius: 8px;
    display: block;
    width: 96%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    outline: none;
}

/* change textarea style */
#textarea-comments {
    height: 7rem;
    padding: 15px;
}

/* fieldset styling */
fieldset {
    border: solid 5px rgba(240,240,240,0.1);
    border-radius: 6px;
}

/* Add asterisk to required fields */
.required:after {
    content: " *";
    color: red;
}

/* Radio button styling */
input[type='checkbox'], input[type='radio'] {
    zoom: 1.3;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    margin: 8px;
}


/* slider */
.slider {
    -webkit-appearance: none;
    width: 93%;
    height: 15px;
    border-radius: 5px; 
    outline: none;
    opacity: 0.92;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00CE79;
    cursor:pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00CE79;
  }


  /* button styling */
  button {
      display: block;
      margin: 50px auto 20px auto;
      width: 70%;
      height: 2.9rem;
      border: none;
      border-radius: .2rem;
      color: white;
      background-color: #00CE79;
      font-size: 18px;
  }

/* Responsive Features */  
  @media (max-width: 840px) {
      #main-form {
          max-width: 80%;
      }
      .slider {
          width: 75%;
          margin-top: 2vw;
      }
      p, label, legend, input, #dropdown, textarea {
          font-size: 22px;
      }
  }

