body {
    font-family: 'Lexend Mega', sans-serif;
    color: white;
    outline: none;
}

/* background */
body::after {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background-image: linear-gradient(
    120deg, 
    rgba(0,0,255, 0.8),
    rgba(255,0,0, 0.7)
    ), 
url(../images/ecommerce-survey-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

/* main heading */
h1 {
    font-size: 5vmax;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    letter-spacing: .03em;
}

/* text formatting */
p, label {
    font-size: 3vw;
    color: white;
    text-align: center;
}

/* legend for fieldset */
legend {
    font-size: 3vw;
    margin-bottom: 1rem;
}

/* description box */
#description-box {
    max-width: 80vw;
    margin: 0px auto 50px auto;
}

/* Placeholder styling */
#dropdown {
    font-size: 4vw;
}

/* Placeholder size */
textarea, input {
    font-size: 1.8rem;
}


/* Form area styling */
#main-form {
max-width: 85vw;
margin: 30px auto 30px auto;
padding: 40px;
background-color: rgba(0,0,0,.7);
opacity: 0.9;
border-radius: 6px;
}


/* Form cell formatting */
.form-group {
margin: 2rem 0 2.5rem 0;
}


/* input field styling */
.input-field, #dropdown {
    margin: 7px 0px 0px 0px;
    border-radius: 6px;
    display: block;
    width: 96%;
    height: 4rem;
    padding: 0.475rem .75rem;
}

/* change textarea style */
#textarea-comments {
    height: 7rem;
    padding: 0.75rem;
}

/* fieldset styling */
fieldset {
    border: solid 5px rgba(240,240,240,0.1);
    border-radius: 6px;
}

/* Add asterisk to required fields */
.required:after {
    content: " *";
    color: red;
}

/* Radio button styling */
input[type='checkbox'], input[type='radio'] {
transform: scale(2);
    margin: 18px;
}


/* slider - DISABLED UNTIL I KNOW JS
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 2rem;
    border-radius: 6px; 
    margin-top: 23px;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 18%; 
    background: #00CE79;
    cursor:pointer;
  }
*/

  /* button styling */
  button {
      display: block;
      margin: 50px auto 20px auto;
      width: 70%;
      height: 2.9rem;
      border: none;
      border-radius: .2rem;
      color: white;
      background-color: #00CE79;
      font-size: 18px;
  }


@media (min-width: 1000px) {
    h1 {
        font-size: 5em;
    }
    p, label {
        font-size: 1.4rem;
    }
    legend {
        font-size: 1.4rem;
    }
    input {
        font-size: 1.4rem; 
    }
    #description-box {
        max-width: 60rem;
    }
    #dropdown {
        font-size: 1.4rem;
    }
    #main-form {
        max-width: 50rem;
    }
}



/* Responsive Features OLD
  @media (max-width: 500px) {
      #main-form {
          max-width: 80%;
      }
      .slider {
          width: 75%;
          margin-top: 2vw;
      }
      p, label, legend, input, #dropdown, textarea {
          font-size: 22px;
      }
  }
*/